{% extends 'base.html.twig' %}

{% block body %}
    {% if lists is defined %}
        {% for list in lists %}
            <div class="list-group">
                <a href="{{ path('listing_inner', {'id': list.id}) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ list.title }}</h5>
                        <small class="text-muted">{{ list.time|date("m/d/Y H:i") }}</small>
                    </div>
                    <p class="mb-1">{{ list.text }}</p>

                    {% if is_granted('ROLE_USER') %}
                        {% if app.user.id == list.user.id %}
                            <small class="text-muted">Created by: You</small>
                        {% else %}
                            <small class="text-muted">Created by: {{ list.user.username }}</small>
                        {% endif %}
                    {% endif %}

                    {% if promoActive(list.promoFrom, list.promoTill) %}
                        <div>
                            <small class="text-muted">Promo till {{ list.promoTill|date("m/d/Y H:i") }}</small>
                        </div>
                    {% endif %}
                </a>
                {% if is_granted('ROLE_USER') %}
                    <small class="d-block text-right mt-3">
                        {% if app.user.id == list.user.id or is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('listing_edit', {'id': list.id}) }}">Edit</a>
                            <a href="{{ path('listing_delete', {'id': list.id}) }}">Delete</a>
                        {% endif %}
                    </small>
                {% endif %}
            </div>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}