{% extends 'base.html.twig' %}

{% block body %}
    {% if lists %}
        {% for list in lists %}
            <div class="list-group">
                <a href="{{ path('listing_inner', {'id': list.id}) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ list.title }}</h5>
                        <small class="text-muted">{{ list.time|date("m/d/Y H:i") }}</small>
                    </div>
                    <p class="mb-1">{{ list.text }}</p>
                    <small class="text-muted">{% trans %}Created by{% endtrans %}: {{ list.user.username }}</small>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>{% trans %}You have no listings{% endtrans %} :(</p>
    {% endif %}
{% endblock %}